# Dependencies
/node_modules
/next-ts-app/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/next-ts-app/.next/
/out/

# Production
/build

# Misc
.DS_Store
Thumbs.db
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~